[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/minibufExpl"]
	path = bundle/minibufExpl
	url = https://github.com/fholgado/minibufexpl.vim
